<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Plateroom{% endblock %}</title>
  {% block stylesheets %}
    <!-- stylesheet bootstrap -->
    {# <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}"> #}
    <!-- stylesheet materialize -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/materialize.min.css')}}">
    <link href="{{asset('css/styleplateroom.css')}}" rel="stylesheet">
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

</head>
<body>


  {% block header%}

  <!-- Navigation -->

 <!--         <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">tutte</a></li>
            <li class="divider"></li>
            <li><a href="#!">primi</a></li>
            <li><a href="#!">secondi</a></li>
            <li><a href="#!">dessert</a></li>
            <li><a href="#!">antipasti</a></li>
            <li><a href="#!">piatto unico</a></li>
            <li class="divider"></li>
            <li><a href="#!">Richieste</a></li>
          </ul> -->

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

      <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('main_user') }}">{{ app.user.username }}</a></li>
        <li><a href="{{ url('fos_user_profile_edit') }}" class="modal-trigger">Modifica</a></li>
        <li class="divider"></li>
        <li><a href="{{ url('fos_user_security_logout')}}">Log out</a></li>
      </ul>

  {% endif %}

  <div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper">
      <!-- Brand and toggle get grouped for better mobile display -->
 
        <a href="{{ path('main_home') }}" class="brand-logo" >Plateroom</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ app.user.username }}</a></li>
          {% else %}
          <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
        </ul>


      <!-- Collect the nav links, forms, and other content for toggling -->

  <!--        <a class="dropdown-button waves-effect waves-light btn-large" href="#!" data-activates="dropdown2">Categorie</a>  -->
          








      </div>
    </div>
  </nav>
</div>
  <nav>
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="cerca"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
  </nav>

</div>


  <!-- Modal-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}
{% block body %}
{% endblock %}

{% block footer%}


<!-- Modal Trigger -->
<div class="row footer">
  <div class="col-xs-12 col-md-12 text-center">
   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">   
    <a href="{{ url('main_ricetta_crea') }}" class="waves-effect waves-circle waves-light btn-floating  btn-large btn modal-trigger">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>
</div>


<!-- Modal Structure -->
<div id="modal-item" class="modal"></div>
{% endblock %}

{% block javascripts %} 
  <script src="/js/jquery-1.12.3.js"></script>
  <!-- <script src="/js/bootstrap.min.js"></script> -->
  <script src="/js/materialize.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/styleplateroom.js"></script>
{% endblock %}

</body>
</html>
