{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}


    <h1 class="title">Nuova Password</h1>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <div class="input-container">
                <input type="text" id="username" name="_username" required="required" />
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
            </div>
        </div>
        <div class="button-container">
            <button type="submit" value="{{ 'resetting.request.submit'|trans }}" ><span>Invia</span></button>
        </div>
        <div class="footer"><a href="{{ url('fos_user_security_login') }}" id="dimenticata">Torna al Login</a></div>
    </form>


{% endblock fos_user_content %}




